.banner {
    background-color: #D9D9D9;
    position: relative;
}

.banner__imagem{
    background: url('../img/Idosos-na-praia.png') no-repeat center / cover;
    width: 100%;
    height: calc(100vh - 5px);
}
.banner__texto{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28%;
    left: 50%;
    width: 600px;
    gap: 20px;
}

.banner__titulo{
    font-size: 5rem;
    font-weight: 700;
}

.banner__titulo--forte{
    color: #75b4ee;
}

.banner__titulo:hover{
    cursor: default;
}

.banner__btn{
    text-align: center;
    width: 45%;
    font-size: 2rem;
    font-weight: 500;
    background-color: #3788d4;
    padding: 1.3rem 0;
    border-radius: 16px;
    color: #D9D9D9;
    text-decoration: none;
}
.banner__btn:hover{
    transition: .1s ease-in-out all;
    background-color: #75b4ee;
}
.banner__btn:active{
    background-color: #044a7f
}

@media (max-width: 960px) {
    .banner {
        text-align: center;
    }
    
    .banner__imagem{
        height: 70vh;
    }

    .banner__texto{
        align-items: center;
        top: 25%;
        left: 25%;
        width: 500px;
    }
    
    .banner__titulo{
        font-size: 4.5rem;
        font-weight: 700;
    } 
}

@media screen and (max-width: 550px) {
    .banner__imagem{
        height: calc(70vh - 130px);
    }

    .banner__texto{
        align-items: center;
        position: absolute;
        top: 23%;
        left: 10%;
        width: 300px;
        gap: 20px;
    }

    .banner__btn{
        width: 60%;
    }

    .banner__titulo{
        font-size: 3rem;
        font-weight: 700;
    }
}
