html{
    scrollbar-width: none;
}

body{
    width: 100vw;
}

.cabecalho {
    background-color: #3788d4;
    display: flex;
    padding: 1.4rem 2rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .cabecalho {
        padding: 1.2rem 2rem;
        justify-content: center;
    }
}
