html{
    scrollbar-width: none;
}

body{
    width: 100vw;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}

.cabecalho {
    background-color: #3788d4;
    display: flex;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .cabecalho {
        padding: 1.2rem 2rem;
        justify-content: center;
    }
}
